
\.idea/workspace\.xml

discrete math/helpers/__pycache__/docx_helper\.cpython-36\.pyc

discrete math/helpers/__pycache__/generate_lab58_graph\.cpython-36\.pyc

discrete math/helpers/__pycache__/my_graph\.cpython-36\.pyc
